body {
    background-size: cover;
    background-color: #d3b1d5;
}

body::-webkit-scrollbar {
    display: none; /* chrome */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }